body {
  margin: 0;
  min-height: 500vh;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: rgb(198 198 198 / 80%);
}


::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 100px;
}

#progress {
  height: 4px;
  background-color: red;
  position: sticky;
  top: 0;
  width: 0%;
  transition: width 0.3s;
}
